/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/*==================== BOOTSTRAP ICONS ====================*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

:root {
  --bg-color: #ffffff;
  --text-color: #333;
  --border-color: rgba(0, 0, 0, 0.5);
  --label-color: #eee;
  --red: #f44336;
  --green: #4caf50;
  --blue: #3f51b5;
  --lightblue: #2196f3;
}

.dark-theme {
  --bg-color: #222;
  --text-color: #eee;
  --border-color: rgba(255, 255, 255, 0.5);
  --label-color: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border: none;
  text-decoration: none;
  line-height: 1;
}

button {
  cursor: pointer;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  background: var(--green);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}

.truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hidden {
  display: none !important;
}

textarea {
  padding: 5px;
  background-color: var(--label-color);
  color: var(--text-color);
  border-radius: 5px;
  overflow: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: calc(100% - 20px);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.modal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  background-color: transparent;
  color: var(--text-color);
}

.modal .actions {
  display: flex;
  gap: 5px;
}

.modal .actions > * {
  flex: 1;
}

.modal .delete {
  background-color: var(--red);
}

.modal .input-group {
  display: flex;
  gap: 10px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container {
  max-width: 1440px;
  margin: auto;
}

.app {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  width: 100%;
  height: 100vh;
}

.header {
  position: relative;
  background-color: var(--lightblue);
  color: white;
  padding: 10px;
}

.header .main-bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.header .actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header .actions > button {
  font-size: 1.5rem;
  padding: 0;
  background-color: transparent;
  color: white;
}

.header .search-btn {
  display: none;
}

.search-box {
  display: inline-flex;
  width: 250px;
  height: min-content;
  padding: 5px 10px;
  background-color: white;
  color: #333;
  border-radius: 50px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.search-box input {
  flex: 1;
  padding: 0;
  border: none;
  color: #333;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  overflow-x: auto;
  gap: 5px;
  cursor: pointer;
  padding: 5px 0;
  margin: 0 10px;
  height: min-content;
  max-width: 100%;
  border-bottom: 1px solid var(--border-color);
}

.breadcrumbs * {
  background-color: transparent;
  color: var(--text-color);
  font-size: 1rem;
  white-space: nowrap;
}

.search-bar {
  display: none;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.search-bar .exit,
.search-bar .clear {
  font-size: 1.5rem;
  background-color: transparent;
  color: white;
}

.search-bar .search-box {
  flex: 1;
}

.action-bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  width: max-content;
}

.action-bar > * {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  color: var(--text-color);
  font-size: 1.75rem;
  cursor: pointer;
}

.item-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 5px;
  padding: 10px;
}

.item-container > .message {
  position: absolute;
  top: 10px;
  left: 10px;
}

.item-container .item {
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  height: max-content;
}

.item-container .item.selected {
  border-color: var(--border-color);
}

.item-container .item * {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 2px;
}

.item-container .item p {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8rem;
  max-height: 40px;
}

.item-modal .name-input {
  flex: 1;
  background-color: transparent;
  color: var(--text-color);
}

.item-modal .icon-input {
  display: inline-flex;
  cursor: pointer;
}

.item-modal .icon-input img {
  width: 32px;
  height: 32px;
}

.item-modal .content-input {
  resize: none;
  height: 225px;
  font-size: 1rem;
}

.folder-modal .icon-input {
  display: inline-flex;
  cursor: pointer;
}

.folder-modal .icon-input img {
  width: 32px;
  height: 32px;
}

.toast-container {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

.toast {
  background-color: var(--border-color);
  color: var(--bg-color);
  padding: 12px 20px;
  border-radius: 5px;
  width: max-content;
  max-width: 100%;
}

/* Medium screens (Tablets, up to 768px wide) */
@media (max-width: 768px) {
}

/* Small screens (Phones, up to 480px wide) */
@media (max-width: 480px) {
  .header .title {
    font-size: 1.5rem;
  }

  .header .actions .search-box {
    display: none;
  }

  .header .search-btn {
    display: inline-flex;
  }

  .header.search .main-bar {
    display: none;
  }

  .header.search .search-bar {
    display: flex;
  }
}
